*, *::before, *::after {
    box-sizing: border-box;
}

/* Engranajes de fondo */
.gears {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.gear {
    position: absolute;
    width: 30%;
    height: auto;
    opacity: 0.2;
}

.gear1 {
    top: 15%;
    left: 4%;
    animation: rotateGear1 12s linear infinite;
}

.gear2 {
    top: 15%;
    right: 7%;
    animation: rotateGear2 12s linear infinite;
}

@keyframes rotateGear1 {
    from {
        transform: rotate(22deg);
    }

    to {
        transform: rotate(382deg);
    }
}

@keyframes rotateGear2 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* Estilos generales */
body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Contenedor principal */
.table-container {
    background-color: white;
    width: 80%;
    max-width: 1000px;
    min-height: 80vh;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: var(--main-color);
    margin-bottom: 20px;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table td,
table th {
    padding: 12px;
    border: 1px solid var(--tertiary-color);
}

table th {
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: rgba(179, 28, 47, 0.05);
}

/* Enlaces */
a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Botones generales */
button {
    padding: 5px 10px;
    border: none;
    border-radius: 50%;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 0 2px;
}

.button-container {
    display: flex;
    gap: 5px;
    width: 80%;
}

/* Botón de eliminar */
.delete-btn {
    background: var(--main-color);
    color: white;
    width: 50%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn img {
    width: 18px;
    height: 18px;
}

.delete-btn:hover {
    background: var(--secondary-color);
    transform: scale(1.1);
}

/* Botón de editar */
.edit-btn {
    background: var(--tertiary-color);
    width: 50%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-btn img {
    width: 18px;
    height: 18px;
}

.edit-btn:hover {
    background: var(--secondary-color);
    transform: scale(1.1);
}

/* Botón de retroceso */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    fill: var(--tertiary-color);
    transition: transform 0.2s ease-in-out;
}

.back-button:hover {
    transform: scale(1.1);
}

/* Responsive */
@media (max-width: 900px) {
    body {
        padding: 0;
    }

    .table-container {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 10px;
        border-radius: 0;
        box-shadow: none;
        overflow-x: auto;
    }

    h2 {
        margin-top: 0;
        padding-top: 60px;
    }

    .edit-btn img,
    .delete-btn img {
        width: 20px;
        height: 20px;
    }

    .button-container {
        margin: 0 auto;
    }

    .back-button {
        top: 20px;
        left: 10px;
        width: 25px;
        height: 25px;
    }

    .gears {
        display: none;
    }

    table {
        width: 100%;
        table-layout: fixed;
    }

    table th, table td {
        white-space: normal;
        font-size: smaller;
    }

    table th {
        padding: 8px;
    }

    table td {
        padding: 5px;
    }
}